Django
django-bootstrap3
django-braces
pathlib
Pillow
psycopg2
python3-memcached
pytz
raven
sorl-thumbnail
-e git://github.com/Nim65s/django-comptes.git#egg=comptes
-e git://github.com/Nim65s/django-YummyEmailOrUsernameInsensitiveAuth.git#egg=django-yeouia
