{% extends "base.html" %}

{% block title %}Comptes divers{% endblock %}

{% block maincontent %}
<h2>Dettes</h2>
{% if request.user.is_staff %}<a href="{% url 'admin:comptes_dette_add' %}">En ajouter une</a>{% endif %}
<table class="table table-striped"><tr><th>Créancier</th><th class="right">Montant</th><th>Débiteurs</th><th class="right">Moment</th><th>Description</th></tr>
    {% for dette in occasion.dette_set.all %}<tr>
        <td>{{ dette.creancier }}</td>
        <td class="euro">{{ dette.montant }}</td>
        <td>{{ dette.debiteurs.all|join:", " }}</td>
        <td class="right">{{ dette.moment }}</td>
        <td>{{ dette.description }}</td>
    </tr>{% empty %}<tr><td colspan="5">Pas de dettes pour l’instant…</td><tr>{% endfor %}
            <tr><th>Total</th><th class="euro">{{ occasion.depenses }}</th></tr>
</table>
<h2>Remboursements</h2>
{% if request.user.is_staff %}<a href="{% url 'admin:comptes_remboursement_add' %}">En ajouter un</a>{% endif %}
<table class="table table-striped"><tr><th>Créditeur</th><th>Crédité</th><th class="right">Montant</th><th class="right">Moment</th></tr>
    {% for remboursement in occasion.remboursement_set.all %}<tr>
        <td>{{ remboursement.crediteur }}</td>
        <td>{{ remboursement.credite }}</td>
        <td class="euro">{{ remboursement.montant }}</td>
        <td class="right">{{ remboursement.moment }}</td>
    </tr>{% endfor %}
</table>
{% endblock %}
