<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>PYBB Powered Forum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://static.pybbm.org/static/pinax/css/theme.css" rel="stylesheet">
        <link href="http://static.pybbm.org/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="http://static.pybbm.org/static/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="http://static.pybbm.org/static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}
        <a href="/forum">Forum</a>
        <a href="/comptes">Forum</a>
        {% endblock %}
    </body>
</html>
